<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/head :: head"></div>
    <script src="/js/edit/edit.js"></script>
    <body>
        <div th:replace="fragments/navigation :: nav"></div>
        <div class="container mt-4">
            <h1>Quiz Management</h1>
            <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#add-quiz">
                Add Quiz
            </button>
            <div class="modal fade" id="add-quiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Quiz</h5>
                        </div>
                        <div class="modal-body">
                            <form id="form" method="post" action="/quizzes" th:object="${quiz}" th:class="${IsInvalid} ? 'was-validated' : '' " novalidate>
                                <input th:field="*{title}" class="form-control form-control-lg" placeholder="Quiz Title" type="text" id="quiz-name" name="quiz-name" required>
                                <br>
                                <label for="quiz-desc">Description:</label>
                                <textarea th:field="*{quizDescription}" class="form-control " style="resize: none" id="quiz-desc" name="quiz-desc" required> </textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                            <button id="submit" type="submit" class="btn btn-outline-success">Add Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
                <div class="col" th:each="quiz:${quizzes}">
                    <div class="card" style="width: 18rem">
                        <span class="material-symbols-outlined">cognition</span>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${quiz.title}"></h5>
                            <p class="card-text" th:text="${quiz.quizDescription}"></p>
                            <button class="btn btn-outline-danger">Edit Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>