.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
}

button {
    margin: 10px;
}

#question-content {
    border: 1px solid;
    color: black;
    width: 100%;
    text-align: center;
    padding: 50px;
}