<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" src="/static/css/quizPage.css">

<div th:replace="fragments/head :: head"></div>
<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div id="title">Title</div>
    <div id="questionNumber">1/10</div>
    <div id="questionContent">Question</div>
    <div id="questionAnswers">
        <button>Answer 1</button>
        <button>Answer 2</button>
        <button>Answer 3</button>
        <button>Answer 4</button>
    </div>
    <div id="buttons">
        <button><</button>
        <button>></button>
    </div>
    <p></p>
</div>

</body>
</html>