<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
<div id="title" th:text="${quizModel.title}"></div>
    <div id="question-counter">1/10</div>
    <div id="question-container">

    </div>
<div id="buttons">
    <button><</button>
    <button>></button>
</div>
</div>

</body>
</html>